.vehicle{
  text-align: left;
  // justify-content: center;
  // color: white;
}

.Searchbar{
width: 73%;
font-size: 18px;
background: transparent;
float: end;
align-items: right;
}

.fa-trash{
  color: red;
}

.jumbotron {
    padding: 2rem 1rem;
}

// .mr-1, .mx-1 {
//   margin-right: -17.75rem!important;
// }
