<div class="container">
  <form name="Vehiclemaster" class="form-group mx-1">
    <h4 class="vehicle px-5"> Vehicle Master</h4>
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-4">
          <label for="no" class="label">Vehicle No</label>
          <input type="no" class="form-control" placeholder="Vehicle No">
        </div>

        <div class="col-md-4">
          <label for="text">Vehicle Type</label>
          <input type="text" class="form-control" placeholder="Vehicle Text">
        </div>

        <div class="col-md-4">
          <label for="date">RTO Fitness Test Validity</label>
          <input type="date" class="form-control" placeholder="RTO Fitness Validity">
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 pt-3">
          <label for="date">RTO Vehicle Permit Validity </label>
          <input type="date" class="form-control" placeholder="RTO Vehicle Permit Validity">
        </div>

        <div class="col-md-4 pt-3">
          <label for="date">PUC Valdity</label>
          <input type="date" class="form-control" placeholder="PUC Validity">
        </div>

        <div class="col-md-4 pt-5" style="text-align: right">
          <button type="submit" class="btn btn-primary mx-2 ">Submit</button>
          <button type="cancel" class="btn btn-danger mx-1">Cancel</button>
        </div>
      </div>
    </div>
  </form>

  <div class="input-group jumbotron">
    <div class="Searchbar"></div>
    <input placeholder="Search on Vehicle No" type="text  mr-5 mx-2">
    <button type="Search on Vehicle No" class="btn btn-primary mx-2 ">Search</button>

    <table class="table table-bordered tb-5">
      <thead>
        <tr>
          <th>Sr No</th>
          <th>Vehicle Number</th>
          <th>Vehicle Type</th>
          <th>RTO Fitness Test Validity</th>
          <th>RTO Vehicle Permit Validity</th>
          <th>PUC Validity</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>MH12TY7788</td>
          <td>ADAPTED VEHICLE</td>
          <td>NA</td>
          <td>NA</td>
          <td>21/01/2024</td>
          <td><a href=""><i class="fa fa-edit"></i></a>
            &nbsp; <a href=""><i class="fa fa-trash"></i></a>
          </td>
        </tr>

        <tr>
          <th>2</th>
          <td>MH04HJ8866</td>
          <td>MOTOR CYCLE WITH TRAILER</td>
          <td>NA</td>
          <td>NA</td>
          <td>19/03/2025</td>
          <td><a href=""><i class="fa fa-edit"></i></a>
            &nbsp; <a href=""><i class="fa fa-trash"></i></a>
          </td>
        </tr>

        <tr>
          <th>3</th>
          <td>AP21DK3820</td>
          <td>LUXURY CAB</td>
          <td>NA</td>
          <td>NA</td>
          <td>03/08/2023</td>
          <td><a href=""><i class="fa fa-edit"></i></a>
            &nbsp; <a href=""><i class="fa fa-trash"></i></a>
          </td>
        </tr>

        <tr>
          <th>4</th>
          <td>TN75AA7106</td>
          <td>THREE WHEELED</td>
          <td>NA</td>
          <td>NA</td>
          <td>18/12/2026</td>
          <td><a href=""><i class="fa fa-edit"></i></a>
            &nbsp; <a href=""><i class="fa fa-trash"></i></a>
          </td>
        </tr>

        <tr>
          <th>5</th>
          <td>HR26TC7174</td>
          <td>POWER TILLER</td>
          <td>NA</td>
          <td>NA</td>
          <td>17/03/2024</td>
          <td><a href=""><i class="fa fa-edit"></i></a>
            &nbsp; <a href=""><i class="fa fa-trash"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>